---
import { payloadClient } from '../api/PayloadClient';
import { BoardGame } from '../api/models/BoardGame';

const response = await payloadClient.find('board-games');

let boardGames: Array<BoardGame> = [];

if(response.isSuccess && response.data) {
  boardGames = response.data.docs.map((doc) => BoardGame.fromJson(doc.json));
}
---

<html>
  <head>
    <title>Board Games List</title>
  </head>
  <body>
    <h1>Board Games</h1>
    <ul>
      {
        response.isSuccess && boardGames.length > 0
          ? boardGames.map(boardGame => (
              <li>
                <p>title: <strong>{boardGame.title}</strong></p> 
                <p>Rating: {boardGame.rating ?? 'N/A'}</p>
                <p>{boardGame.description}</p>
              </li>
            ))
          : <li>No board games found.</li>
      }
    </ul>
  </body>
</html>