---
const PAYLOAD_URL = import.meta.env.PAYLOAD_PUBLIC_SERVER_URL || 'http://localhost:3000';

import { BoardGame } from '../schemas/BoardGame';
import { PayloadResponse } from '../schemas/PayloadResponse';

const BoardGameCollectionSchema = PayloadResponse(BoardGame);

async function fetchBoardGames() {
  const res = await fetch(`${PAYLOAD_URL}/api/board-games`);

  if (!res.ok) {
    throw new Error('Failed to fetch board games');
  }

  return BoardGameCollectionSchema.parse(await res.json());
}

const boardGameCollection = await fetchBoardGames();
---

<html>
  <head>
    <title>Board Games List</title>
  </head>
  <body>
    <h1>Board Games</h1>
    <ul>
      {boardGameCollection.docs.length === 0 ? (
        <li>No board games found.</li>
      ) : (
      boardGameCollection.docs.map(boardGame => (
          <li>
            <strong>{boardGame.title}</strong> — Rating: {boardGame.rating || 'N/A'}
          </li>
        ))
      )}
    </ul>
  </body>
</html>
